@charset "utf-8";

/* CSS Document */
/* Written by Amanda Hartman */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	/*min-height: 600px;*/
}

body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #EFEFEF;
}

h1 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	color: #000066;
	text-align: left;
}

h2 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	color: #000066;
	text-align: left;
	margin-top: 5px;
}

h3 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000066;
	margin: 4px;
}

p {
	margin: 10px;
	line-height: 1.35em;
}

ul {
	margin-bottom: 4px;
}

li {
	margin-left: 40px;
}

a {
	color: #000066;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

.bold {
	font-weight: bold;
}

.nobullet, .nobullet li {
	list-style: none;
	display: inline;
}

/* The Layout - banner, main area, navigation, footer */

#container { /* all of the content floating in the center of the page */
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 60%;
	min-width: 800px;
	background: #fff;
	border: #DFDFDF solid 1px;
}

#banner_top {
	background:  url(../images/ralc_banner_bkg.png) repeat-x top left;
	width: 100%;
	height:	100px;
	padding-bottom: 5px;
}

#content {
	position: relative;
	top: -20px;
	left: 25px;
	z-index: 5;
}

#content img{
	margin: 5px;
}

.col_wrapper { /*container for left_col and right_col */
	width: 670px;
	margin-left: 90px;
	_margin-bottom: -10px;
}

.sub_box {
	background:#fff;
	border: solid #000063 1px;
	width: 450px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.sb_title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color:#000063;
	background: #C3CFEF;
	border-bottom: solid #000063 1px;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 0;
}

.left_col {
	float: left;
	width: 65%;
	display: inline;
	border-right: #CCCCCC solid 1px;
}

/*right bar*/

.right_col {
	float: right;
	width: 30%;
	margin-top: 10px;
	margin-right: 5px;
	display: inline;
	font-size: 95%;
}

.right_col h2 {
	margin-top: 8px;
	margin-bottom: 2px;
}

.right_col p{
	margin: 0;
	margin-left: 5px;
	line-height: 1.25em;
}

.right_col ul li {
	line-height: 1.35em;
	margin-left: 25px;
}



/* Main Navigation */
#navbar {
	position: relative;
	width: 100px;
	float: left;
	top: -20px;
	margin-left: 0;
	z-index: 100;
}

#navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#navbar li {
	margin: .3em auto;
}

#navbar li a {
	background: #000066;
	line-height: 2em;
 	width: 7.5em;
	display: block;
	border: .5px solid #fff; 
	text-align: center;
	font-size: 115%;
	color: #fff;
	text-decoration: none;
}

#navbar li a:hover {
	background: #C3CFEF;
	color: #000066;
	text-decoration: underline;
	border: .5px solid #000066;
}

#navbar li a.active {
	background: #C3CFEF;
	color: #000066;
	text-decoration: none;
	border: .5px solid #000066;
}

/* Bottom Navigation */
#footer {
	margin: 0 auto;
	height: 60px;
	width: 60%;
	min-width: 800px;
	border-top: #000066 solid 2px;
	/*position: relative;*/
	text-align: center;
}

.clear_footer {
	height: 25px;
	clear: both;
}

.nav_bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
	color: #000066;
	text-align: center;
	line-height: 1.5em;
}

a.nav_bottom {
	color: #000066;
	text-decoration: underline;
}

a.nav_bottom:hover {
	color: #000066;
	text-decoration: none;
}

/* Specific for each page */

.section {
	margin-top: 20px;
	margin-left: 5px;
}

.center {
	text-align: center;
}

.spacer { /* Spacer on either end of the floats will give the thumbnails space */
  clear: both;
}