@charset "utf-8";
/* CSS Document */


body{width:985px; margin-left:auto; margin-right:auto;}

img {
	border: 0
}

a {
	color: #003b47;
}

.spacer { /* Spacer on either end of the floats will give the thumbnails space */
  clear: both;
  height: 0;
}


#banner {
	background: #8C0000 url(../images/jsr_banner3.png) no-repeat top left;
	position: relative;
/*	height: 110px;
	width: 985px; 
*/} 

#banner img {
	float:left;
}

#banner h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	float: left;
	margin-left: 210px;
	margin-top: -70px;
	_margin-left: 100px;
	_margin-top: -90px;
}

#banner h1 a {
	color: #fff;
	text-decoration: none;
}

#journalbanner {
	background-color: #D6E7F7;
}

.journalmenu ul {	
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.journalmenu li{
	display: inline;
	padding-right: 10px;
}

.subtitle {
	text-align: left;
	font-weight: bold;
}


/* Footer */

#cfooter {
	position: relative;
	height: 60px;
	margin-top:5px;
	padding-top: 5px;
	text-align: center;
	background: #8C0000;
/*	width: 985px;	
*/}

.cfooter_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #fff;
	text-align: center;
}

#cfooter ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#cfooter li{
	color: #fff;
	display: inline;
	margin: 5px;
}

#cfooter li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
}

#cfooter li a:hover {
	text-decoration: underline;
}
/*footer*/