@charset "utf-8";

/* CSS Document */

/* Written by Amanda Hartman*/



* {
	margin: 0;
	padding: 0;
}

img {
    border: 0;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 { 
	font-size: 140%;
	color: #8C0000;
	margin: 4px;
}

h2 { 
	font-size: 130%;
	color: #8C0000;
	margin: 4px;
}



h3 { 
	font-size: 110%;
	margin: 6px;
}


p {
	margin: 10px;
	line-height: 1.3em;
}

a {
	text-decoration: underline;
}

a:focus {
	text-decoration: none;
}


a:hover {
	text-decoration: none;
}



a img {
	border: none;
}



.subheadline {
            font-weight: bold;
            font-size: 100%;
}

#header {
    background-color:#8C0000;
    color: #fff;
    border-bottom: solid 2px #000;
}

#header img {
    margin: 3px;
}

#header_nav {
    margin-left: 5px;
    margin-top: 25px;
}

#nav {
     margin-left: 5px;
     margin-bottom: 5px;
}

.white_link {
    color: #fff;
    font-size: 110%;
    font-weight: bold;
 }